<form>
  TRACK REQUEST
  <br>
  <input class="input-sm" type="text" placeholder="Enter Tracking Id" id="trackingId"/>
  <button class="btn btn-sm" id="trackButton">Get Info</button>

  <hr>
  <% if @req_id.present? %>
      <p><strong>TRACKING ID:</strong> <%= @sr_info[:id] %> </p></br>
      <p><strong>MODEL:</strong> <%= @sr_info[:model] %> </p></br>
      <p><strong>VEHICLE NUMBER:</strong> <%= @sr_info[:vehicle_number] %> </p></br>
      <p><strong>SERVICE TYPE:</strong> <%= @sr_info[:service_type] %></p> </br>
      <p><strong>YEAR:</strong> <%= @sr_info[:year] %> </p> </br>
      <p><strong>VEHICLE TYPE:</strong> <%= @sr_info[:vehicle_type] %></p> </br>
      <p><strong>SERVICE CENTRE:</strong> <%= @sr_info[:service_centre] %> </p></br>
      <p><strong>REQUEST DATE:</strong> <%= @sr_info[:request_date] %> </p></br>
      <p><strong>ACTUAL BILL:</strong> <%= @sr_info[:actual_bill] %> </p></br>
      <p><strong>STATE</strong> <%= @sr_info[:state] %></p></br>
  <% end %>
</form>



<script>
  $("#trackButton").click(
      function () {
        trackingId = $("#trackingId").val();

        if (trackingId == "") {
          $("#vsms_messages").html("<div class='alert alert-danger'><strong></strong>Please enter a tracking id.</div>");
          return;
        }
        window.open("/customer/show_cusreq_details?req_id=" + trackingId, "_self");

      }
  )
</script>