<p><strong>MODEL:</strong> <%= @sr_info[:model] %> </p></br>
<p><strong>VEHICLE NUMBER:</strong> <%= @sr_info[:vehicle_number] %> </p></br>
<p><strong>SERVICE TYPE:</strong> <%= @sr_info[:service_type] %></p> </br>
<p><strong>YEAR:</strong> <%= @sr_info[:year] %> </p> </br>
<p><strong>VEHICLE TYPE:</strong> <%= @sr_info[:vehicle_type] %></p> </br>
<p><strong>SERVICE CENTRE:</strong> <%= @sr_info[:service_centre] %> </p></br>
<p><strong>REQUEST DATE:</strong> <%= @sr_info[:request_date] %> </p></br>
<p><strong>ACTUAL BILL:</strong> <%= @sr_info[:actual_bill] %> </p></br>
<p><strong>STATE</strong> <%= @sr_info[:state] %></p></br>



