<%= form_tag '/sco/create_sc_details', :remote => true do -%>
    <fieldset>

      <div class="control-group">
        <!-- name -->
        <label class="control-label" for="name">CentreName</label>
        <div class="controls">
          <input type="text" id="name" name="centre[name]" placeholder="CentreName" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <!-- address -->
        <label class="control-label" for="address">Address</label>
        <div class="controls">
          <input type="text" id="address" name="centre[address]" placeholder="address" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <!-- city -->
        <label class="control-label" for="city">City</label>
        <div class="controls">
          <input type="text" id="city" name="centre[city]" placeholder="city" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <!-- state -->
        <label class="control-label" for="state">State</label>
        <div class="controls">
          <input type="text" id="state" name="centre[state]" placeholder="state" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <!-- pincode -->
        <label class="control-label" for="pincode">Pincode</label>
        <div class="controls">
          <input type="text" id="pincode" name="centre[pincode]" placeholder="pincode" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <!-- contact -->
        <label class="control-label" for="contact">Contact</label>
        <div class="controls">
          <input type="text" id="contact" name="centre[contact]" placeholder="contact" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <!-- E-mail -->
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
          <input type="text" id="email" name="centre[email]" placeholder="email" class="input-xlarge">
        </div>
      </div>

      <input type="hidden" id="owner_id" name="centre[owner_id]" value="<%= current_user.id %>" class="input-xlarge">



      <br>
      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success">Submit</button>
        </div>
      </div>
    </fieldset>
    </br>
    </hr>
    <fieldset>

      <div class="control-group">
        <table id="list_centre_names" class="display" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>Centre Name</th>
            <th>City</th>
            <th>E-mail</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
          </thead>

          <tbody>
          <% @collect_service_centre.each do |sc| %>
          <tr id="row_<%= sc.id.to_s %>">
            <td> <%=sc.name %></td>
            <td> <%=sc.city%></td>
            <td> <%=sc.email %></td>
            <td> <a href="/sco/edit_sc_detail?centre_id=<%= sc.id.to_s%>"> Edit </a></td>
            <td> <a href="/sco/destroy_sc_detail?centre_id=<%= sc.id.to_s%>"data-remote="true" data-method="delete">remove</a></td>
          </tr>
          <% end %>


</tbody>
</table>
        </div>
    </fieldset>
    </br>
    <script>
      // final_data = [{"number":"testsrno","request_date":"2016 53 18, 07:07","state":null,"actual_bill":0,"estimated_bill":0,"service_centre":"lucknow","service_type":"Tyre change","vehicle_number":"324890"},{"number":"testsrno","request_date":"2016 53 18, 07:07","state":null,"actual_bill":0,"estimated_bill":0,"service_centre":"lucknow","service_type":"Tyre change","vehicle_number":"324890"}];

      $(document).ready(function () {
        $('#list_centre_names').DataTable();
      });

    </script>

<% end -%>