
<style>
  .form-group{
    padding-right: 31px;
  }

</style>
<%= form_tag "/sco/create_service_types", :remote => true, class: "form-inline" do -%>
    <fieldset>

      <div class="form-group">


        <!-- servicecentre-->
        <label class="control-label" for="centrename">CentreName</label>
        <div class="controls">
          <select id="servicecentre" name="s_type[centre_id]" class="input-xlarge">
            <% @service_centres.each do |sc| %>
                <option value=<%= "#{sc.id}" %>><%= sc.name %></option>
            <% end %>


          </select>
        </div>
      </div>


      <div class="form-group">
        <!-- servicename -->
        <label class="control-label" for="service_name">Service Name</label>
        <div class="controls">
          <input type="text" id="service_name" name="s_type[service_name]" placeholder="service name" class="input-xlarge">
        </div>
      </div>


      <div class="form-group">
        <!-- cost -->
        <label class="control-label" for="service_cost">Service cost</label>
        <div class="controls">
          <input type="text" id="service_cost" name="s_type[service_cost]" placeholder="service cost" class="input-xlarge">
        </div>
      </div>

      <div class="form-group">
        <!-- service description -->
        <label class="control-label" for="serv_desc">Service Description</label>
        <div class="controls">
          <input type="text" id="serv_desc" name="s_type[serv_desc]" placeholder="serv_desc" class="input-xlarge">
        </div>
      </div>





      <div class="form-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success btn-sm" style="margin-top: 18px; background-color: #555; border-color: #444;">Submit</button>
        </div>
      </div>
    </fieldset>

    </hr>
    <fieldset>

      <div class="control-group">
        <table id="list_service_types" class="display" cellspacing="0" width="100%">
          <thead>
          <tr>

            <th>Centre Name</th>
            <th>Service Name</th>
            <th>Service Cost</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
          </thead>

          <tbody>
          <% @service_types.each do |sc| %>
              <tr id="row_<%= sc.id.to_s %>">
                <td> <%= @centre_by_id[sc.centre_id].name %></td>
                <td> <%=sc.service_name%></td>
                <td> <%=sc.service_cost %></td>
                <td> <%=sc.serv_desc %></td>
                <td> <a href="/sco/edit_service_type?service_type_id=<%= sc.id.to_s%>">Edit</a></td>
                <td> <a href="/sco/destroy_service_type?service_type_id=<%= sc.id.to_s%>" data-remote="true" data-method="delete">Remove</a></td>
              </tr>
          <% end %>


          </tbody>
        </table>
      </div>
    </fieldset>
    </br>

    <style>
      table {
        background: #f5f5f5;
        border-collapse: separate;
        box-shadow: inset 0 1px 0 #fff;
        font-size: 12px;
        line-height: 24px;
        margin: 30px auto;
        text-align: left;
        width: 800px;
      }

      th {
        background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
        border-left: 1px solid #555;
        border-right: 1px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;
        box-shadow: inset 0 1px 0 #999;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #000;
      }

      th:after {
        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
        content: '';
        display: block;
        height: 25%;
        left: 0;
        margin: 1px 0 0 0;
        position: absolute;
        top: 25%;
        width: 100%;
      }

      th:first-child {
        border-left: 1px solid #777;
        box-shadow: inset 1px 1px 0 #999;
      }

      th:last-child {
        box-shadow: inset -1px 1px 0 #999;
      }

      td {
        border-right: 1px solid #fff;
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e8e8e8;
        padding: 10px 15px;
        position: relative;
        transition: all 300ms;
      }

      td:first-child {
        box-shadow: inset 1px 0 0 #fff;
      }

      td:last-child {
        border-right: 1px solid #e8e8e8;
        box-shadow: inset -1px 0 0 #fff;
      }

      tr {
        background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
      }

      tr:nth-child(odd) td {
        background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);
      }

      tr:last-of-type td {
        box-shadow: inset 0 -1px 0 #fff;
      }

      tr:last-of-type td:first-child {
        box-shadow: inset 1px -1px 0 #fff;
      }

      tr:last-of-type td:last-child {
        box-shadow: inset -1px -1px 0 #fff;
      }

      tbody:hover td {
        color: transparent;
        text-shadow: 0 0 3px #aaa;
      }

      tbody:hover tr:hover td {
        color: #444;
        text-shadow: 0 1px 0 #fff;
      }
    </style>

    <script>
      // final_data = [{"number":"testsrno","request_date":"2016 53 18, 07:07","state":null,"actual_bill":0,"estimated_bill":0,"service_centre":"lucknow","service_type":"Tyre change","vehicle_number":"324890"},{"number":"testsrno","request_date":"2016 53 18, 07:07","state":null,"actual_bill":0,"estimated_bill":0,"service_centre":"lucknow","service_type":"Tyre change","vehicle_number":"324890"}];

      $(document).ready(function () {
        $('#list_service_types').DataTable();
      });

    </script>

<% end -%>