
<style>
  .form-group{
    padding-right: 31px;
  }

</style>
<%= form_tag "/sco/create_service_types", :remote => true, class: "form-inline" do -%>
    <fieldset>

      <div class="form-group">


        <!-- servicecentre-->
        <label class="control-label" for="centrename">CentreName</label>
        <div class="controls">
          <select id="servicecentre" name="s_type[centre_id]" class="input-xlarge">
            <% @service_centres.each do |sc| %>
                <option value=<%= "#{sc.id}" %>><%= sc.name %></option>
            <% end %>


          </select>
        </div>
      </div>


      <div class="form-group">
        <!-- servicename -->
        <label class="control-label" for="service_name">Service Name</label>
        <div class="controls">
          <input type="text" id="service_name" name="s_type[service_name]" placeholder="service name" class="input-xlarge">
        </div>
      </div>


      <div class="form-group">
        <!-- cost -->
        <label class="control-label" for="service_cost">Service cost</label>
        <div class="controls">
          <input type="text" id="service_cost" name="s_type[service_cost]" placeholder="service cost" class="input-xlarge">
        </div>
      </div>

      <div class="form-group">
        <!-- service description -->
        <label class="control-label" for="serv_desc">Service Description</label>
        <div class="controls">
          <input type="text" id="serv_desc" name="s_type[serv_desc]" placeholder="serv_desc" class="input-xlarge">
        </div>
      </div>





      <div class="form-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success btn-sm" style="margin-top: 18px">Submit</button>
        </div>
      </div>
    </fieldset>

    </hr>
    <fieldset>

      <div class="control-group">
        <table id="list_service_types" class="display" cellspacing="0" width="100%">
          <thead>
          <tr>

            <th>Centre Name</th>
            <th>Service Name</th>
            <th>Service Cost</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
          </thead>

          <tbody>
          <% @service_types.each do |sc| %>
              <tr id="row_<%= sc.id.to_s %>">
                <td> <%= @centre_by_id[sc.centre_id].name %></td>
                <td> <%=sc.service_name%></td>
                <td> <%=sc.service_cost %></td>
                <td> <%=sc.serv_desc %></td>
                <td> <a href="/sco/edit_service_type?service_type_id=<%= sc.id.to_s%>">Edit</a></td>
                <td> <a href="/sco/destroy_service_type?service_type_id=<%= sc.id.to_s%>" data-remote="true" data-method="delete">Remove</a></td>
              </tr>
          <% end %>


          </tbody>
        </table>
      </div>
    </fieldset>
    </br>
    <script>
      // final_data = [{"number":"testsrno","request_date":"2016 53 18, 07:07","state":null,"actual_bill":0,"estimated_bill":0,"service_centre":"lucknow","service_type":"Tyre change","vehicle_number":"324890"},{"number":"testsrno","request_date":"2016 53 18, 07:07","state":null,"actual_bill":0,"estimated_bill":0,"service_centre":"lucknow","service_type":"Tyre change","vehicle_number":"324890"}];

      $(document).ready(function () {
        $('#list_service_types').DataTable();
      });

    </script>

<% end -%>