<%= form_tag '/sco/create_service_slots', :remote => true do -%>

    <div class="container">
      <fieldset>


        <div class="row">
          <div class="col-sm-3">
            <div class="control-group">


              <!-- servicecentre-->
              <label class="control-label" for="centrename">CentreName</label>
              <div class="controls">
                <select id="servicecentre" name="slot[service_centre_id]" class="input-xlarge">
                  <% @service_centres.each do |sc| %>
                      <option value=<%= "#{sc.id}" %>><%= sc.name %></option>
                  <% end %>


                </select>
              </div>
            </div>
            </br>
          </div>
          <div class="col-sm-3">
            <div class="control-group">
              <!-- stratslot -->
              <label class="control-label" for="slot_start_time">Slot Start</label>
              <div class="controls">
                <input type="time" id="slot_start_time" name="slot[slot_start_time]" placeholder="slot_start_time" class="input-xlarge">
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="control-group">
              <!-- stratslot -->
              <label class="control-label" for="slot_start_time">Slot End</label>
              <div class="controls">
                <input type="time" id="slot_end_time" name="slot[slot_end_time]" placeholder="slot_end_time" class="input-xlarge">
              </div>
            </div>
          </div>


          <br>
          <div class="col-sm-3">
            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-success" style="background-color: #555; border-color: #444;">Add</button>
              </div>
            </div>
          </div>
        </div>

      </fieldset>
      <hr/>

      <!--show all the slots of current owner -->
      <div class="control-group">
        <table id="list_centre_slots" class="display" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>Centre Name</th>
            <th>Start slot</th>
            <th>End Slot</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
          </thead>

          <tbody>

          <% @service_slots.each do |ss| %>

              <tr id="row_<%= ss.id.to_s %>">
                <td><%= @service_centre_by_id[ss.service_centre_id].name %> </td>
                <td> <%= ss.slot_start_time.strftime('%H:%M:%S') %>  </td>
                <td> <%= ss.slot_end_time.strftime('%H:%M:%S') %> </td>
                <td> <a href="/sco/edit_slot?slot_id=<%= ss.id.to_s%>">Edit</a></td>
                <td> <a  id="remove" href="/sco/destroy_service_slot?slot_id=<%= ss.id.to_s%>" data-remote="true" data-method="delete">Remove</a> </td>


              </tr>
<% end %>

              </tbody>
              </table>


              </div>
              </div>
    <style>
      table {
        background: #f5f5f5;
        border-collapse: separate;
        box-shadow: inset 0 1px 0 #fff;
        font-size: 12px;
        line-height: 24px;
        margin: 30px auto;
        text-align: left;
        width: 800px;
      }

      th {
        background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
        border-left: 1px solid #555;
        border-right: 1px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;
        box-shadow: inset 0 1px 0 #999;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #000;
      }

      th:after {
        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
        content: '';
        display: block;
        height: 25%;
        left: 0;
        margin: 1px 0 0 0;
        position: absolute;
        top: 25%;
        width: 100%;
      }

      th:first-child {
        border-left: 1px solid #777;
        box-shadow: inset 1px 1px 0 #999;
      }

      th:last-child {
        box-shadow: inset -1px 1px 0 #999;
      }

      td {
        border-right: 1px solid #fff;
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e8e8e8;
        padding: 10px 15px;
        position: relative;
        transition: all 300ms;
      }

      td:first-child {
        box-shadow: inset 1px 0 0 #fff;
      }

      td:last-child {
        border-right: 1px solid #e8e8e8;
        box-shadow: inset -1px 0 0 #fff;
      }

      tr {
        background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
      }

      tr:nth-child(odd) td {
        background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);
      }

      tr:last-of-type td {
        box-shadow: inset 0 -1px 0 #fff;
      }

      tr:last-of-type td:first-child {
        box-shadow: inset 1px -1px 0 #fff;
      }

      tr:last-of-type td:last-child {
        box-shadow: inset -1px -1px 0 #fff;
      }

      tbody:hover td {
        color: transparent;
        text-shadow: 0 0 3px #aaa;
      }

      tbody:hover tr:hover td {
        color: #444;
        text-shadow: 0 1px 0 #fff;
      }
    </style>


    <script>
                // final_data = [{"number":"testsrno","request_date":"2016 53 18, 07:07","state":null,"actual_bill":0,"estimated_bill":0,"service_centre":"lucknow","service_type":"Tyre change","vehicle_number":"324890"},{"number":"testsrno","request_date":"2016 53 18, 07:07","state":null,"actual_bill":0,"estimated_bill":0,"service_centre":"lucknow","service_type":"Tyre change","vehicle_number":"324890"}];

                $(document).ready(function () {
                  $('#list_centre_slots').DataTable();
                });




              </script>

          <% end -%>