<p>
  <strong>Name:</strong>
  <%= @sc_details.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @sc_details.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @sc_details.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @sc_details.state %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @sc_details.pincode %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @sc_details.contact %>
</p>
<p>
  <strong>Email:</strong>
  <%= @sc_details.email %>
</p>
<p>
<%= link_to 'Edit', edit_article_path(article) %></p>
